**Q1**: Use a loop to print "I know how to use while loops" exactly 12 times.

In [1]:
i = 0
while i < 12:
    print("I know how to use while loops")
    i += 1

I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops
I know how to use while loops

**Q2**: Can you use a while loop to print the\
digits from 0 to 9 in order (including 0 and 9)?\
Your loop should execute 10 times.

In [17]:
i = 0
while i < 10:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9

**Q3** Can you use a while loop to print all multiples of 10 from 10 to 90 in order (including 10 and 90)?

In [21]:
i = 10
while i < 100:
    print(i)
    i += 10

10
20
30
40
50
60
70
80
90

**Q4** Using a for loop, print the numbers 0 through 12, in order, including 0 and 12.

In [23]:
for i in range(13):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

**Q5** Using a for loop, print the numbers 10 through 20, in order, including 10 and 20.

In [25]:
for i in range(10,21):
    print(i)

10
11
12
13
14
15
16
17
18
19
20

**Q6** Using a for loop, print all multiples of 10 from 0 to 100, in order, including 0 and 100.

In [31]:
for i in range(0, 101, 10):
    print(i)

0
10
20
30
40
50
60
70
80
90
100

**Q7** Using a for loop, print the numbers 20 through 10, in reverse order, including 20 and 10.

In [35]:
for i in range(20,9, -1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10

**Q8** Using nested loops, print all pairs of numbers from 3, 4, 5, where the order of each pair matters.

In [37]:
for i in range(3, 6):

    for j in range(3, 6):

        print(i, j)

3 3
3 4
3 5
4 3
4 4
4 5
5 3
5 4
5 5

In [ ]:
opened_file = open('AppleStore.csv')
from csv import reader
read_file = reader(opened_file)
apps_data = list(read_file)

free_games_social_ratings = []
for row in apps_data[1:]:
    rating = float(row[7])
    genre = row[11]
    price = float(row[4])
    
    if (genre == 'Social Networking' or genre == 'Games') and price == 0:
        free_games_social_ratings.append(rating)
        
avg_free = sum(free_games_social_ratings) / len(free_games_social_ratings)

# Not-free apps (average)
not_free_games_social_ratings = []
for row in apps_data[1:]:
    rating = float(row[7])
    genre = row[11]
    price = float(row[4])
    
    if (genre == 'Social Networking' or genre == 'Games') and price != 0:
        not_free_games_social_ratings.append(rating)
        
avg_not_free = sum(not_free_games_social_ratings) / len(not_free_games_social_ratings)

In [ ]:
x = -6
y = 14
z = 8.5
if x > z:
    print('x>z')
if y != z:
    print('y is not equal to z')
if x < z and z < y:
    print('z is between x and y')

In [5]:
my_dict = {"a": 1, "b": 1, "c": 1} 
print(my_dict)

{'a': 1, 'b': 1, 'c': 1}

In [15]:
my_dict = {"a": 1, "b": 2, "c": 3}

for key in my_dict:
    value = my_dict[key]
    print(key, value)

a 1
b 2
c 3

In [13]:
my_dict = {"a": 1, "b": 2, "c": 3}

for key, value in my_dict.items():
    print(key, value)

a 1
b 2
c 3

In [17]:
my_dict = {"a": 1, "b": 2, "c": 3}

my_dict.pop("a")

print(my_dict)

{'b': 2, 'c': 3}

In [25]:
my_dict = {"a": 1, "b": 2, "c": 3}
value = my_dict.pop("d", 0)
print(value)

0

In [27]:
my_dict = {"a": 1, "b": 2, "c": 3}

del my_dict["a"]
print(my_dict)

{'b': 2, 'c': 3}

In [42]:
my_dict = {"a": 1, "b": 2, "c": 3} 
for v in my_dict.values(): 
    print(v)

1
2
3

In [44]:
my_dict = {"a": 1, "b": 2, "c": 3}

v = list(my_dict.values())

print(v)

[1, 2, 3]

In [48]:
count = {
    1: 3,
    2: 3,
    3: 3
}
print(count)

{1: 3, 2: 3, 3: 3}

In [52]:
my_dict = {"a": 1, "b": 2, "c": 3}

for key, value in my_dict.items():
    print(key, value)

a 1
b 2
c 3

In [58]:
print("Enter your name:")
x = input()
print("Hello, " + x)

Enter your name:

 Sayyorakhon

Hello, Sayyorakhon

In [56]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [60]:
try:
   # code that might cause an error
   result = 10 / 0
except:
   print("An error occurred!")


print("This will be printed regardless.")

An error occurred!
This will be printed regardless.

In [62]:
try:
   num1 = int(a)
   num2 = int(b)
   result = num1 / num2
except ValueError:
   print("Error: Invalid value!")
except ZeroDivisionError:
   print("Error: Division by zero!")
except Exception as error:
   print("An error occurred:", error)

An error occurred: name 'a' is not defined

In [64]:
def sort(key=None, reverse=False):

SyntaxError: incomplete input (1190605995.py, line 1)

In [66]:
elements = [5, 3, 6, 2, 1]

elements.sort(key=None, reverse=True)

print(elements) # [6, 5, 3, 2, 1]

[6, 5, 3, 2, 1]

In [82]:
elements.sort(reverse=True)
print(elements)
elements = [5, 3, 6, 2, 1]

elements.sort()

elements.reverse()
print(elements)

[6, 5, 3, 2, 1]
[6, 5, 3, 2, 1]

In [84]:
def get_word_length(word):
   return len(word)
words = ["apple", "banana", "kiwi", "pear", "watermelon", "blueberry", "cherry"]
words.sort(key=get_word_length)
print(words) # ['kiwi', 'pear', 'apple', 'banana', 'cherry', 'blueberry', 'watermelon']

['kiwi', 'pear', 'apple', 'banana', 'cherry', 'blueberry', 'watermelon']

In [88]:
def get_word_length(word):
   return len(word)
words = ["apple", "banana", "kiwi", "pear", "cherry"]
words.sort(key=get_word_length)
print(words) # ['kiwi', 'pear', 'apple', 'banana', 'cherry', 'blueberry', 'watermelon']

['kiwi', 'pear', 'apple', 'banana', 'cherry']

In [94]:
words = ["apple", "banana", "kiwi", "pear", "cherry"]

words.sort(key=lambda word: len(word))

print(words) # ['kiwi', 'pear', 'apple', 'banana', 'cherry', 'blueberry', 'watermelon']

['kiwi', 'pear', 'apple', 'banana', 'cherry']

In [98]:
words = ["kiwi", "pear", "apple", "banana", "cherry", ]

sorted_words = sorted(words)

print(sorted_words) # ['apple', 'banana', 'blueberry', 'cherry', 'kiwi', 'pear']

['apple', 'banana', 'cherry', 'kiwi', 'pear']